{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header bg-danger"><h2 class="text-center text-primary">{{ _('Ticket From') }}</h2>
                </div>
                <div class="card-block">
                    <fieldset>
                        <legend>{{ _('Ticket Infomantion') }}</legend>
                        <div class="row center-block">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        {% include 'VMTF.html' %}
    </div>
{% endblock %}